Package: [${project.artifactId}]
Version: [${project.version}]]
Priority: optional
Architecture: all
Depends: nginx, default-jre | java7-runtime
Maintainer: Jay Kola <jay@operon.systems>
Description: [${project.name}]
Distribution: stable
Section: web
