<!--<div class="footer">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-3 text-center">-->
            <!--<i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;-->
            <!--<a href="https://twitter.com/code4health" target="_blank"  jhiTranslate="footer.link.follow">Follow us on Twitter</a>-->
        <!--</div>-->
        <!--<div class="col-sm-3 text-center">-->
            <!--<i class="fa fa-org" aria-hidden="true"></i>&nbsp;-->
            <!--<a href="https://code4health.org/" target="_blank" jhiTranslate="footer.link.homepage">Code4Health</a>-->
        <!--</div>-->
        <!--<div class="col-sm-3 text-center">-->
            <!--<i class="fa fa-bug" aria-hidden="true"></i>&nbsp;-->
            <!--<a href="https://github.com/appertafoundation" target="_blank" jhiTranslate="footer.link.bugtracker">Report issues</a>-->
        <!--</div>-->
        <!--<div class="col-sm-3 text-center">-->
            <!--<i class="fa fa-github" aria-hidden="true"></i>-->
            <!--<a href="https://github.com/appertafoundation" target="_blank" jhiTranslate="footer.link.github">Github</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<section class="container-fluid footer">
    <div class="content">
        <div class="row footer-top">
            <div class="col-sm-8">
                <h2>Site Map</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="http://platform.code4health.org">Platform</a></li>
                            <li><a href="https://code4health.org/learning">Learning</a></li>
                            <li><a href="https://code4health.org/communities">Communities</a></li>
                            <li><a href="https://code4health.org/login">Login</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="http://www.apperta.org/what_we_do" target="_blank">Products</a></li>
                            <li><a href="https://code4health.org/supporters">Supporters</a></li>
                            <li><a href="https://code4health.org/events">Events</a></li>
                            <li><a href="https://code4health.org/privacy_and_cookie_policy">Privacy and Cookie Policy</a></li>
                            <li><a href="https://code4health.org/values">Values</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h2>Connect</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <li><a href="https://code4health.org/communities/apply">Community Application</a></li>
                            <li><a href="https://code4health.org/supporters/apply">Supporter Application</a></li>
                            <li><a href="mailto:info@code4health.org ">Contact Us</a></li>
                            <li><a href="https://code4health.org/feedback">Provide Feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-sm-8 ">
                <font size="1">Code4Health & C4H are registered Trademarks of the Apperta Foundation CIC 2016</font>
            </div>
        </div>
    </div>
</section>
<template ngbModalContainer></template>
