<section class="container-fluid footer">
    <div class="content">
        <div class="row footer-top">
            <div class="col-sm-8">
                <h2>Site Map</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="https://code4health.org">Home</a></li>
                            <li><a href="https://platform.code4health.org">Platform</a></li>
                            <li><a href="https://code4health.org/learning">Learning</a></li>
                            <li><a href="https://code4health.org/communities">Communities</a></li>
                            <li><a href="https://code4health.org/login">Login</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="http://www.apperta.org/what_we_do" target="_blank">Products</a></li>
                            <li><a href="https://code4health.org/supporters">Supporters</a></li>
                            <li><a href="https://code4health.org/events">Events</a></li>
                            <li><a href="https://code4health.org/privacy_and_cookie_policy">Privacy and Cookie Policy</a></li>
                            <li><a href="https://code4health.org/values">Values</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h2>Connect</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <li><a href="https://code4health.org/communities/apply">Community Application</a></li>
                            <li><a href="https://code4health.org/supporters/apply">Supporter Application</a></li>
                            <li><a href="mailto:info@code4health.org ">Contact Us</a></li>
                            <li><a href="https://code4health.org/feedback">Provide Feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-sm-8 ">
                <font size="1">Code4Health & C4H are registered Trademarks of the Apperta Foundation CIC 2016</font>
            </div>
        </div>
    </div>
</section>
<template ngbModalContainer></template>
