<div class="footer">
    <div class="row">
        <div class="col-sm-3 text-center">
            <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;
            <a href="https://twitter.com/operoncloud" target="_blank"  jhiTranslate="footer.link.follow">Follow us on Twitter</a>
        </div>
        <div class="col-sm-3 text-center">
            <i class="fa fa-org" aria-hidden="true"></i>&nbsp;
            <a href="https://operon.systems" target="_blank" jhiTranslate="footer.link.homepage">Operon</a>
        </div>
        <div class="col-sm-3 text-center">
            <i class="fa fa-bug" aria-hidden="true"></i>&nbsp;
            <a href="https://github.com/operonsystems" target="_blank" jhiTranslate="footer.link.bugtracker">Report issues</a>
        </div>
        <div class="col-sm-3 text-center">
            <i class="fa fa-github" aria-hidden="true"></i>
            <a href="https://github.com/operonsystems" target="_blank" jhiTranslate="footer.link.github">Github</a>
        </div>
    </div>
</div>
<template ngbModalContainer></template>
