<div>
    <h2>
        <span jhiTranslate="operonCloudPlatformApp.operinoComponent.home.title">Operino Components</span>
        <button class="btn btn-primary float-right create-operino-component" [routerLink]="['/', { outlets: { popup: ['operino-component-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="operonCloudPlatformApp.operinoComponent.home.createLabel">
            Create new Operino Component
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'operonCloudPlatformApp.operinoComponent.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="operinoComponents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hosting"><span jhiTranslate="operonCloudPlatformApp.operinoComponent.hosting">Hosting</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="availability"><span jhiTranslate="operonCloudPlatformApp.operinoComponent.availability">Availability</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="applyLimits"><span jhiTranslate="operonCloudPlatformApp.operinoComponent.applyLimits">Apply Limits</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recordsNumber"><span jhiTranslate="operonCloudPlatformApp.operinoComponent.recordsNumber">Records Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="transactionsLimit"><span jhiTranslate="operonCloudPlatformApp.operinoComponent.transactionsLimit">Transactions Limit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="diskSpace"><span jhiTranslate="operonCloudPlatformApp.operinoComponent.diskSpace">Disk Space</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="computeResourceLimit"><span jhiTranslate="operonCloudPlatformApp.operinoComponent.computeResourceLimit">Compute Resource Limit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="operonCloudPlatformApp.operinoComponent.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="operino.name"><span jhiTranslate="operonCloudPlatformApp.operinoComponent.operino">Operino</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let operinoComponent of operinoComponents ;trackBy: trackId">
                <td><a [routerLink]="['../operino-component', operinoComponent.id ]">{{operinoComponent.id}}</a></td>
                <td jhiTranslate="{{'operonCloudPlatformApp.HostingType.' + operinoComponent.hosting}}">{{operinoComponent.hosting}}</td>
                <td>{{operinoComponent.availability}}</td>
                <td>{{operinoComponent.applyLimits}}</td>
                <td>{{operinoComponent.recordsNumber}}</td>
                <td>{{operinoComponent.transactionsLimit}}</td>
                <td>{{operinoComponent.diskSpace}}</td>
                <td>{{operinoComponent.computeResourceLimit}}</td>
                <td jhiTranslate="{{'operonCloudPlatformApp.OperinoComponentType.' + operinoComponent.type}}">{{operinoComponent.type}}</td>
                <td>
                    <div *ngIf="operinoComponent.operino">
                        <a [routerLink]="['../operino', operinoComponent.operino?.id ]" >{{operinoComponent.operino?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../operino-component', operinoComponent.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'operino-component/'+ operinoComponent.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'operino-component/'+ operinoComponent.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
