/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #1A5281;
    font-family: 'Arimo', sans-serif;
    padding: .2em 1em;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active, .jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
    background-color: #1A5281;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.navbar li > a:hover {
    color: #ffffff;
    background-color: #6f777b;
    text-decoration: underline;
}

.navbar a.navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

.navbar li.active a { color: #ffffff; }

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 2.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}



@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 1px 1px;
}

.jh-logo-container > a:hover {
    background-color: transparent;
    text-decoration: none;
}

.logo .logo-img {
    height: 85px;
    display: inline-block;
    vertical-align: middle;
    width: 126px;
}

.logo-img {
    height: 100%;
    background: url("../../../content/images/logo-c4h.png") no-repeat center center;
    background-size: contain;
    width: 100%;
}
